<h2>Sign up</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :prenom, autofocus: true %>
  </div>

  <div class="field">
    <%= f.text_field :nom, autofocus: true %>
  </div>

  <div class="field">
    <%= f.text_field :adresse, autofocus: true %>
  </div>  

  <div class="field">
    <%= f.number_field :cp, autofocus: true %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: "Ex: votre@mail.com" %>
  </div>

  <div class="field">
    <% if @validatable %>
    <%= f.password_field :password, autocomplete: "off", placeholder: "8 caractères minimum" %>
    <% end %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

