<h2><strong><%= @user.prenom %> <%= @user.nom %></strong></h2>

<p><h4><%= @user.email %></h4>
<%= @user.adresse %>
<%= @user.cp %></p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
